@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing:border-box;
  margin:0;
  padding:0;
}


@layer components {
  html, body, #root, #root>div {
    @apply h-full;
  }
  body{
    @apply bg-slate-200;
  }
  body.dark{
    @apply bg-light-grey;
  }

  /* SideBar */
  .sidebar {
    @apply fixed inset-y-0 flex flex-col gap-y-4 bg-dark-slate-gray p-2 pt-8 duration-300 z-10;
  }

  .rooms{
    @apply flex-col overflow-y-auto border-b border-white/20 -mr-2;
  }

  .sidebar__app-bar {
    @apply flex justify-around items-center;
  }
  .sidebar__app-title {
    @apply text-white font-medium text-xl duration-300;
  }

  .sidebar__btn-close {
    @apply cursor-pointer duration-300 text-white justify-end;
  }

  .sidebar__btn-icon {
    @apply w-8 h-8;
  }

  .sidebar__app-logo {
    @apply cursor-pointer duration-300 text-white;
  }

  /* SideBar Nav */
  .nav {
    @apply flex justify-around pt-1 pb-1;
  }

  .active .nav__item {
    @apply rounded-md bg-light-white;
  }

  .nav__item {
    @apply p-2 flex h-10 items-center gap-x-4 w-screen rounded-md cursor-pointer hover:bg-light-white text-white text-base;
  }
  .menu {
    @apply flex-col flex-1 overflow-hidden overflow-y-auto border-b border-white/20 mr-2;
  }
  .menu .nav__item {
    @apply p-2 pr-0 flex h-10 items-center gap-x-1.5 w-screen rounded-md cursor-pointer hover:bg-light-white text-white text-sm;
  }

  .menu .right-shadow{
    @apply absolute inset-y-0 right-0 w-8 z-10 bg-gradient-to-l from-dark-slate-gray group-hover:from-[#2A2B32];
  }

  .nav__item:hover .right-shadow, .active .right-shadow {
    @apply hidden;
  }

  .nav__icons {
    @apply cursor-pointer duration-300 text-white;
  }

  .nav__bottom {
    @apply flex flex-col justify-end h-44;
  }

  .nav__msg {
    @apply flex bg-yellow-900 rounded-lg p-4 text-white;
  }

  .nav__p {
    @apply font-mono;
  }


  /* CHATVIEW */
  .chatview {
    @apply flex h-full flex-1 flex-col md:pl-[256px] duration-300 overflow-hidden;
  }

  .sidebar.w-12 + .chatview {
    @apply md:pl-12;
  }

  .chatview__chatarea {
    @apply m-0 flex-grow w-full flex flex-col shadow-md pl-12 md:pl-0 overflow-y-auto;
  }

  .form {
    @apply md:flex justify-between flex-col block items-stretch md:flex-row m-2 bottom-0 left-0 right-0 text-black dark:text-white duration-300 w-full mx-auto md:w-9/12 pl-12 pr-1 md:pl-0 sm:pr-4;
  }

  .copyright{
    @apply text-center text-xs text-black/60 dark:text-white/60 px-4 pb-3 pl-12 pr-1 md:pl-0;
  }

  .use__dalle{
    @apply text-[11px] md:text-xs text-black/40 dark:text-white/40 pr-1 pl-0 -mt-1;
  }

  .message__img {
    @apply rounded-lg shadow-lg bg-cover bg-gray-400 max-h-[512px] max-w-[512px] h-auto w-full duration-300 ease-out;
  }

  .chatview__container {
    @apply relative sm:w-full mx-2;
  }

  .chatview__textarea-message {
    @apply bg-gray-100 text-base w-full max-h-[20rem] min-h-[2rem] p-2 dark:bg-dark-grey h-10 dark:border-dark-grey pr-7 focus:outline-none resize-none rounded-lg;
  }

  .chatview__btn-send {
    @apply absolute p-1 rounded-md text-gray-500 bottom-6 right-1 hover:bg-gray-100 dark:hover:text-gray-400 dark:hover:bg-gray-900 disabled:hover:bg-transparent dark:disabled:hover:bg-transparent;
  }

  .chatview__btn-send:disabled {
    @apply hover:bg-light-grey transition ease-in duration-300 text-center text-base font-semibold shadow-md
  }


  /* ChatMessage */
  .message {
    @apply gap-2 py-2 flex items-start justify-between;
  }

  .message-w {
    @apply xl:w-10/12 w-full mx-auto flex justify-between px-3 py-5;
  }

  .message__wrapper {
    @apply flex-1 w-screen flex-wrap overflow-hidden;
  }

  .message__markdown {
    @apply text-base text-slate-700 dark:text-slate-200;
  }

  .message__markdown a {
    @apply underline underline-offset-2;
  }

  .message__markdown table {
    @apply w-full text-sm;
    --tw-border-spacing-x: 0px;
    --tw-border-spacing-y: 0px;
    border-collapse: separate;
    border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y);
  }

  .message__markdown th {
    background-color: rgba(236,236,241,.2);
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    padding: .25rem .75rem
  }

  .message__markdown th:first-child {
    border-top-left-radius: .375rem
  }

  .message__markdown th:last-child {
  border-right-width: 1px;
  border-top-right-radius: .375rem
  }

  .message__markdown td {
    border-bottom-width: 1px;
    border-left-width: 1px;
    padding: .25rem .75rem
  }

  .message__markdown td:last-child {
    border-right-width: 1px
  }

  .message__markdown tbody tr:last-child td:first-child {
    border-bottom-left-radius: .375rem
  }

  .message__markdown tbody tr:last-child td:last-child {
    border-bottom-right-radius: .375rem
  }

  .message__createdAt {
    @apply text-sm font-thin italic text-slate-600 dark:text-slate-300;
  }

  .flex-row-reverse .message__pic {
    @apply hidden md:flex;
  }

  .message__pic {
    @apply h-10 w-10 mx-2 rounded-full flex items-center justify-center text-xl;
    background-image: radial-gradient(circle farthest-corner at center, rgb(53 55 64) 0%, #1C262B 100%);
  }
  .dark .message__pic {
    @apply bg-none;
  }

  .message__thinking {
    @apply animate-pulse duration-1000 h-12 w-12 dark:text-white text-black text-xl
  }

  .go_down {
    @apply cursor-pointer absolute right-6 bottom-[130px] md:bottom-[120px] z-10 rounded-full border-gray-200 bg-gray-50 dark:bg-white/10 dark:text-gray-200 text-xl;
  }

  /* Signin Page */

  .signin {
    @apply flex flex-col justify-center items-center h-screen w-screen overflow-hidden bg-dark-slate-gray;
  }

  .signin__container {
    @apply h-72 w-72 p-5 flex flex-col justify-center items-center;
  }

  .signin__btn {
    @apply h-12 px-4 rounded-lg bg-slate-100 hover:bg-slate-300 border border-light-grey focus:ring-offset-indigo-200 text-black transition ease-in-out duration-300 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2;
  }

  .signin__tos {
    @apply text-white text-center p-2 absolute bottom-0;
  }

  .chatview__chatarea .flex-row-reverse {
    @apply bg-gray-100;
  }
  .dark .chatview__chatarea .flex-row-reverse {
    background-image: radial-gradient(circle farthest-corner at center, rgb(53 55 64) 0%, #1C262B 100%);
  }

  .message .flex-row-reverse {
    @apply bg-transparent bg-none !important;
  }

  pre div+div {
    @apply bg-black !important;
    margin-top:0px !important;
  }
  .chatview__chatarea ol, .chatview__chatarea ul{
    @apply list-inside list-decimal pl-4 my-5 marker:text-gray-400;
  }
  .chatview__chatarea li{
    @apply pl-1;
  }
  .chatview__chatarea li p{
    @apply inline;
  }

  .notification_error {
    @apply fixed z-10 top-4 right-4 bg-[#fad2e1] text-[#7c193d] border border-red-500 px-4 py-3 rounded;
  }
}

.loader_cointainer{
  @apply relative h-16 mx-auto;
}
.loader {
  @apply absolute w-16 h-16 rounded-full;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
}

.inner {
  @apply absolute box-border w-full h-full rounded-full;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

::-webkit-scrollbar {
  @apply bg-transparent w-1;
}

::-webkit-scrollbar-thumb {
  @apply bg-light-grey dark:bg-dark-grey rounded-lg;
}